<!DOCTYPE HTML>
<html>
        <head>
            <meta charset="UTF-8">
            <title>Thoth Application</title>
            
            <link rel="stylesheet" href="css/style.css" />
            

            <!-- angular -->
            <script src="lib/angular/angular.js"></script>
            <script src="lib/angular/angular-route.js"></script>
            <script src="js/app.js"></script>
            <script src="js/controller.js"></script>
            <script src="js/services.js"></script>
            <script src="js/filter.js"></script>

            

            
        </head>
        <body ng-app='thoth' ng-controller='MainCtrl'>
            <div id='nav'>
            error page 
                
            </div>
            <div ng-view></div>
        </body>
</html>
